@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;1,500&display=swap');

:root{
   --blue: #3c6382;
   --dark-blue: #0a3d62;
}
*{
   font-family: 'Georama', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-transform: capitalize;
   transition: all .3s cubic-bezier(.38, 1.15, .7, 1.12);
   text-decoration: none;
}
*::selection{
	background: var(--dark-blue);
	color: #fff;
}
html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0; right: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}
header .logo{
	font-size: 2.5rem;
	color: var(--dark-blue);
}
header .logo span{
	color: var(--blue);
}
header .navbar a{
	color: var(--dark-blue);
	font-size: 2rem;
	margin-left: .9rem;
	padding: .5rem .3rem;
	border-radius: .5rem;
}

 header .navbar a:hover{
	color: #fff;
	background: var(--blue);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

#menu{
	font-size: 3rem;
	color: var(--dark-blue);
	cursor: pointer;
	display: none;
	
}
.fa-times{
	transform: skew(360deg);
	transition: all .3s;
}
section{
	min-height: 100vh;
	padding: 1rem 9%;
	padding-top: 8rem;
}
#home{
	background: url(./covid/images/home-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#home .content {
	text-align: center;
	padding-top: 3rem;

}
#home .content h1{
	font-size: 5rem;
	color: var(--dark-blue);
}
#home .content h3{
	font-size: 4rem;
	color: var(--blue);
	font-weight: normal;
	
}
#home .content .btn{
    display: inline-block;
    padding: .7rem 3rem;
    color: #fff;
    background: var(--blue);
    border-radius: .9rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    box-shadow: 0 .5rem 20px rgba(0, 0, 0, .1);
}
#home .content .btn:hover{
    background:var(--dark-blue);
}

 .heading{
	text-align: center;
	color: var(--blue);
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: normal;
	padding: 1rem;
}
#prevent .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#prevent .box-container .box{
	flex: 1 1 30rem;
	border-radius: .5rem;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}
#prevent .box-container .box img{
	height: 12rem;
	padding: 1rem;
}
#prevent .box-container .box h3{
	font-size: 2rem;
	color: var(--blue);
}
#prevent .box-container .box p{
    font-size: 1.4rem;
    padding: 1rem;
    color: var(--dark-blue);
}
#prevent .box-container .box:hover{
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);	
}
#symptoms{
	background: url(./covid/images/background-img.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#symptoms .column{
	display: flex;
	align-items: center;
	justify-content: center;
}
#symptoms .column .main-img img{
   width: 43vh;
}
#symptoms .column .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#symptoms .column .box-container .box{
	margin: 1rem;
	text-align: center;
}
#symptoms .column .box-container .box img{
	width: 20rem;
	padding: 1rem;
}

#symptoms .column .box-container .box h3{
	font-size: 2rem;
	color: var(--blue);
}
#precautions .column{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#precautions .column .box-container{
	margin: 1.5rem;
	flex: 1 1 50rem;
	border: .1rem solid rgba(0, 0, 0, .1);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
	border-radius: .5rem;
}
#precautions .column .box-container .tittle{
	padding: 1.5rem .5rem;
	text-align: center;
	font-size: 2.5rem;
	background: var(--blue);
	color: #fff;
}
#precautions .column .box-container:last-child .tittle{
	background: #ff3300;
}
#precautions .column .box-container .box{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	
}
#precautions .column .box-container .box img{
	width: 15rem;
	padding: 1rem;
}
#precautions .column .box-container .box h3{
	font-size: 2rem;
	color: var(--blue);
}
#precautions .column .box-container .box p{
	font-size: 1.2rem;
	color: var(--dark-blue);
	padding: 1rem 0;
	
}
.hand-wash .column{
    display: flex;
    justify-content: center;
}

.hand-wash .column .main-image img{
    width:25vw;
}

.hand-wash .column .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hand-wash .column .box-container .box{
    text-align: center;
    margin:2rem;
}

.hand-wash .column .box-container .box img{
    width: 17rem;
    height: 17rem;
    padding:1rem;
}

.hand-wash .column .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
}
.doctor{
    background:url(../images/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.doctor .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.doctor .box-container .box{
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1rem;
    margin:1.5rem;
    text-align: center;
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    width:33rem;
}

.doctor .box-container .box img{
    margin:1rem;
    border-radius: 50%;
    height:20rem;
    width:20rem;
    object-fit: cover;
    background:var(--blue);
}

.doctor .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
}

.doctor .box-container .box span{
    font-size: 1.5rem;
    color:var(--dark-blue);
}

.doctor .box-container .box .share{
    border-top: .1rem solid rgba(0,0,0,.1);
    padding:1rem;
    margin-top: 1rem;
}

.doctor .box-container .box .share a{
    border-radius: 50%;
    height: 4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    margin: .4rem;
    background:#eee;
    color:var(--blue);
}

.doctor .box-container .box .share a:hover{
    background:var(--blue);
    color:#fff;
    transform: rotate(360deg);
}
.footer{
    background:url(./covid/images/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--blue);
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:var(--dark-blue);
    padding:.5rem 0;
}

.footer .box-container .box a{
    font-size: 1.5rem;
    color:var(--dark-blue);
    padding:.5rem 0;
    display: block;
}

.footer a:hover{
    text-decoration: underline;
}












/*responsive media*/
@media (max-width: 1200px) {
	html{
		font-size: 55%;
	}
}
@media (max-width: 991px) {
     #menu{
	     display: block;
     }
     header .navbar{
	     position: absolute;
	     top: 100%;
	     right: -450px;
	     background: #3c6382;
	     padding: 2rem;
	     width: 45%;  
	     text-align: center;  
	     transition: right .6s;
     }
     header .navbar1 {
           right: 0;
     }
     header .navbar a{
	     display: block;
	     padding: 3rem 0;
	     margin-bottom: .5rem;
	     border-radius: 6rem;
	     color: #fff;
	     font-weight: 400;
	     font-size: 20px;
     }
     header .navbar a:hover{
            background: rgb(158,93,187);
background: linear-gradient(245deg, 
rgba(158,93,187,1) 28%,
 rgba(0,212,255,1) 56%);
     }
     section{
	
	padding: 1rem 3%;
	padding-top: 8rem;
}
#symptoms .column .main-img img{
	display: none;
}
.hand-wash .column .main-image img{
	display: none;
}
      
}
@media (max-width: 768px) {
	html{
		font-size: 50%;
	}
	#home .content h1{
           font-size: 4rem;
	}
	#home .content h3{
             font-size: 3.5rem;
	}
}
@media (max-width: 450px) {
	#home .content h1{
	font-size: 3.5rem;
	}
	#home .content h3{
	   font-size: 2.5rem;	
	}
	#symptoms .column .box-container .box img{
               width: 14rem;
	}
	#precautions .column .box-container .box{
        flex-flow: column;
        text-align: center;
    }
    .doctor .box-container .box{
	    width: 100%;
    }

}